// out: style.css, compress: true

@AccentFont: 'Arial', san-serif;
@BackgroundColor: rgb(240, 240, 207);
@LayoutBoxShadow: 5px 5px 10px #1d1d1d;
@LayoutReverseBoxShadow: -5px -5px 10px #1d1d1d;
@TextFont: 'Roboto', sans-serif;

@x-small: ~"(max-width: 576px)";
@small: ~"(min-width: 576px) and (max-width: 768px)";
@medium: ~"(min-width: 768px) and (max-width: 992px)";
@large: ~"(min-width: 992px) and (max-width: 1200px)";
@x-large: ~"(min-width: 1200px)";

// universal stuff
img {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: .5rem;
}

h1, h2, h3, h4, h5, h6,
.accent-font {
    font-family: @AccentFont;
}

// layout
body {
    background: url('/img/wallpaper-3.jpg') fixed center top;
    background-size: 100% 100%;
    color: #000;
    font-family: @TextFont;
    font-weight: 600;
}

#content {
    background: @BackgroundColor;
    border-radius: 1pc;
    box-shadow: @LayoutBoxShadow;
    margin: 100px auto;
    padding: 20px;
}

#header {
    background: @BackgroundColor;
    box-shadow: @LayoutBoxShadow;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
}

.row {
    margin-bottom: 15px;
    margin-top: 15px;
}

// home
.home-img {
    @media @small {
        max-width: 100%;
    }
    @media @x-small {
        max-width: 100%;
    }
    max-width: 350px;
}

// forms
.center-button {
    @media @small {
        text-align: center;
    }
    @media @x-small {
        text-align: center;
    }
}
.dates {
    display: inline-block;
    @media @small {
        display: block;
        width: 100%;
    }
    @media @x-small {
        display: block;
        width: 100%;
    }
    width: auto;
}

.exp-description {
    padding: 0px;
}

#help-popover {
    cursor: pointer;
}

.img-account {
    max-height: 350px;
    max-width: 33%;
    @media @small {
        max-width: 100%;
    }
    @media @x-small {
        max-width: 100%;
    }
}

label[for=is-admin-1],
label[for=is-admin-0],
label[for=routine-1],
label[for=routine-2],
label[for=routine-0] {
    display: block;
}

.select-box {
    height: 50px;
}

// indexes
.actions {
    a {
        @media @x-small {
            display: block;
        }
        display: inline-block;
    }
}

div.index {
    border-radius: 1pc;
    box-shadow: 1px 1px 12px #BBB;
    margin: 20px auto;
    ul {
        li {
            text-align: left;
        }
    }
}
.non-cell,
.non-mobile {
    @media @small {
        display: none;
    }

    @media @x-small {
        display: none;
    }
}

.non-mobile {
    @media @medium {
        display: none;
    }
}

.img-index {
    max-height: 200px;
    max-width: 100%;
}

.img-thumb {
    max-height: 50px;
    max-width: 50px;
    padding: 0px;
}

.project-users {
    display: block;
}

.table-index {
    border-bottom: 1px solid #000;
}

td, th {
    @media @medium {
        width: 25%;
    }

    @media @small {
        width: 33%;
    }

    @media @x-small {
        width: 33%;
    }
}

.whole-table {
    width: 100%;
}

// paginator
.prev, .next {
    padding: 10px;
}

// views
h1.user-view {
    @media @small {
        text-align: center;
    }
    @media @x-small {
        text-align: center;
    }
}

.no-marg {
    p {
        margin-bottom: 0px;
    }
}

// tutorial images
.animation {
    max-width: 100%;
    @media @x-large {
        width: 66%;
    }
}
.screenshot {
    transition: all .2s ease-in-out;
    @media @large {
        margin: 20px;
    }
}
.screenshot:hover {
    transform: scale(1.5);
}
.tutorial {
    box-shadow: 0px 0px 10px 10px #cbf5fe;
    padding: 0px;
    @media @x-large {
        margin: 20px;
    }
}
